
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Project</title>
  </head>
  <body>
    {% extends 'layouts/base.html' %} {% block content %}
    <h1 class="title">{{ project }}</h1>
    <div class="tasks">
      {% for t in tasks %}
      <div class="tasks__card">
        {% if t.done == True %}
        <h2 class="tasks__title">{{t.title}} ✅</h2>
        {% else %}
        <h2 class="tasks__title">{{t.title}} ⏱</h2>
        {% endif %}
      </div>
      {% endfor %} 
    </div>
    {% endblock %}
  </body>
</html>
